In [1]:
import pandas as pd
import numpy as np

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
%%time
df = pd.read_csv('D:/DataSci/Python/Py_Stats/hw1/horse_data.csv', header=None, na_values = '?')
df.drop(df.columns[[2,7,8,9,11,12,13,14,15,16,17,18,19,20,21,23,24,25,26,27]], axis=1, inplace=True)
df.columns=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']
df

Wall time: 4 ms

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [3]:
base_stats = df.copy(deep=True)

In [4]:
base_stats.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

#### Среднеарифметическое

In [5]:
print(base_stats['surgery?'].mean())

1.3979933110367893

#### Мода

In [6]:
print(base_stats['Age'].mode()[0])

1

#### СКО

In [7]:
print(base_stats['rectal temperature'].std())
print(np.std(base_stats['rectal temperature'], ddof=1))

0.7322886641121578
0.7322886641121578

#### Дисперсия

In [8]:
print(base_stats['pulse'].var())
print(np.var(base_stats['pulse'], ddof=1))

819.7087747035575
819.7087747035575

#### Квантили

In [9]:
print(base_stats['pulse'].quantile())
print(base_stats['pulse'].quantile([0.25, 0.75]))
print(base_stats['pulse'].quantile(0.33))

64.0
0.25    48.0
0.75    88.0
Name: pulse, dtype: float64
52.0

In [10]:
iqr = base_stats['pulse'].quantile(0.75) - base_stats['pulse'].quantile(0.25)
iqr

40.0

#### Выбросы

In [11]:
iqr1 = base_stats['surgery?'].quantile(0.75) - base_stats['surgery?'].quantile(0.25)
low1 = base_stats['surgery?'].quantile(0.25) - (1.5 * iqr1)
upp1 = base_stats['surgery?'].quantile(0.75) + (1.5 * iqr1)
rem_out1 = base_stats[~base_stats['surgery?'].between(low1, upp1, inclusive=True)]
rem_out1['surgery?']

C:\Users\voron\AppData\Local\Temp/ipykernel_11408/2760504138.py:4: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out1 = base_stats[~base_stats['surgery?'].between(low1, upp1, inclusive=True)]

132   NaN
Name: surgery?, dtype: float64

In [12]:
iqr2 = base_stats['Age'].quantile(0.75) - base_stats['Age'].quantile(0.25)
low2 = base_stats['Age'].quantile(0.25) - (1.5 * iqr2)
upp2 = base_stats['Age'].quantile(0.75) + (1.5 * iqr2)
rem_out2 = base_stats[~base_stats['Age'].between(low2, upp2, inclusive=True)]
rem_out2['Age']

C:\Users\voron\AppData\Local\Temp/ipykernel_11408/3799872930.py:4: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out2 = base_stats[~base_stats['Age'].between(low2, upp2, inclusive=True)]

3      9
9      9
13     9
16     9
23     9
39     9
41     9
55     9
74     9
75     9
82     9
103    9
109    9
135    9
191    9
212    9
227    9
229    9
244    9
252    9
255    9
262    9
275    9
287    9
Name: Age, dtype: int64

In [13]:
iqr3 = base_stats['rectal temperature'].quantile(0.75) - base_stats['rectal temperature'].quantile(0.25)
low3 = base_stats['rectal temperature'].quantile(0.25) - (1.5 * iqr3)
upp3 = base_stats['rectal temperature'].quantile(0.75) + (1.5 * iqr3)
rem_out3 = base_stats[~base_stats['rectal temperature'].between(low3, upp3, inclusive=True)]
rem_out3['rectal temperature'].head(15)

C:\Users\voron\AppData\Local\Temp/ipykernel_11408/2382407469.py:4: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out3 = base_stats[~base_stats['rectal temperature'].between(low3, upp3, inclusive=True)]

5      NaN
7      NaN
8      NaN
16     NaN
20    39.9
28     NaN
34     NaN
35     NaN
40     NaN
43     NaN
44    35.4
45     NaN
52     NaN
54    40.3
56     NaN
Name: rectal temperature, dtype: float64

In [14]:
iqr4 = base_stats['pulse'].quantile(0.75) - base_stats['pulse'].quantile(0.25)
low4 = base_stats['pulse'].quantile(0.25) - (1.5 * iqr4)
upp4 = base_stats['pulse'].quantile(0.75) + (1.5 * iqr4)
rem_out4 = base_stats[~base_stats['pulse'].between(low4, upp4, inclusive=True)]
rem_out4['pulse']

C:\Users\voron\AppData\Local\Temp/ipykernel_11408/767352541.py:4: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out4 = base_stats[~base_stats['pulse'].between(low4, upp4, inclusive=True)]

3      164.0
5        NaN
28       NaN
41     150.0
52       NaN
55     160.0
56       NaN
58       NaN
74       NaN
78       NaN
83       NaN
93       NaN
115      NaN
117      NaN
126      NaN
136      NaN
151      NaN
159      NaN
160      NaN
174      NaN
175      NaN
182      NaN
204      NaN
207      NaN
216      NaN
227      NaN
255    184.0
275    150.0
288      NaN
Name: pulse, dtype: float64

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [15]:
df.isna().mean() * len(df)

surgery?                       1.0
Age                            0.0
rectal temperature            60.0
pulse                         24.0
respiratory rate              58.0
temperature of extremities    56.0
pain                          55.0
outcome                        1.0
dtype: float64

In [16]:
new_df = df.copy(deep=True)

In [26]:
new_df['surgery?'] = new_df['surgery?'].fillna(new_df['surgery?'].mean())

In [27]:
new_df['rectal temperature'] = new_df['rectal temperature'].fillna(new_df['rectal temperature'].median())

In [28]:
new_df['pulse'] = new_df['pulse'].fillna(new_df['pulse'].median())

In [35]:
new_df['respiratory rate'] = new_df['respiratory rate'].fillna(new_df.groupby('pulse')['respiratory rate'].transform('median'))

In [30]:
new_df['temperature of extremities'] = new_df['temperature of extremities'].fillna(new_df.groupby('pain')['temperature of extremities'].transform('median'))

In [31]:
new_df['pain'] = new_df['pain'].fillna(new_df['pain'].median())

In [32]:
new_df['outcome'] = new_df['outcome'].fillna(new_df.groupby(['pulse', 'rectal temperature'])['outcome'].transform('median'))

In [36]:
new_df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,2.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,2.0,3.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.2,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,2.0,3.0,3.0

In [37]:
new_df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,297.000000,300.000000,300.000000,300.000000
mean,1.397993,1.640000,38.174333,71.280000,30.122896,2.326667,2.960000,1.550000
std,0.489484,2.173972,0.654831,27.541545,16.216521,0.963353,1.181689,0.736642
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,26.000000,2.500000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000