### Комментарий к ДЗ от преподавателя
Можно было рассотреть заполнение пропусков в количественных признаках на основе группировки и и категорий.
Пример синтаксис был в ноутбуке к занятию

### Ответ
Для некоторых параметров уже было использовано заполнение с группировкой, не понял этот комментарий.

In [25]:
import pandas as pd
import numpy as np

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [26]:
df = pd.read_csv('D:/DataSci/Python/Py_Stats/hw1/horse_data.csv', names=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome'], usecols=[0,1,3,4,5,6,10,22], header=None, na_values = '?')
df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [27]:
base_stats = df.copy(deep=True)

#### Базовые статистики и выбросы
Каждый отдельный блок для своего столбца (показателя)

In [28]:
base_stats.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [29]:
# surgery?
'''
    Для параметра surgery? рассчитана мода, как основной статистический метод для категориальных данных
    Методом unique мы обнаружили все уникальные вхождения данных в столбце
    А также методом value_counts (распределение по категориям) смогли дополнительно убедиться в правильности подсчета Моды 
    и получить общее количество "заполненных" вхождений в данных
    Модальное значение 1 - 180 вхождений
    С учетом описания входных данных и нашего анализа мы видим, что выбросы отсутствуют (за исключением NaN).
'''
print(base_stats['surgery?'].mode()[0])
print(base_stats['surgery?'].unique())
print(base_stats['surgery?'].value_counts())

1.0
[ 2.  1. nan]
1.0    180
2.0    119
Name: surgery?, dtype: int64

In [30]:
# Age
'''
    Для параметра Age рассчитана мода, как основной статистический метод для категориальных данных
    Методом unique мы обнаружили все уникальные вхождения данных в столбце и нашли выбросы значение 9, 
    хотя в описании имеются только значения 1 и 2 - Возможно это опечатка.
    А также методом value_counts (распределение по категориям) получили общее количество "заполненных" вхождений в данных
    Модальное значение 1 - 276 вхождений
'''
print(base_stats['Age'].mode()[0])
print(base_stats['Age'].unique())
print(base_stats['Age'].value_counts())

1
[1 9]
1    276
9     24
Name: Age, dtype: int64

In [31]:
# rectal temperature
'''
    Для параметра rectal temperature рассчитана мода, среднеарифметическое, медиана, стандартное отклонение и дополнительно
    испольован метод value_counts (распределение по категориям).
    Мода, среднеарифметическое и медиана лежат довольно близко. Учитывая тип данных - количественные непрырвные, 
    среднеквадритческое отклонение почти целый градус. Для дальнейших преобразований основной показатель медиана.
    value_counts (распределение по категориям) подтверждает самое частое вхождение, как и предыдущие показатели    
'''
print(base_stats['rectal temperature'].mode()[0])
print(base_stats['rectal temperature'].mean())
print(base_stats['rectal temperature'].median())
print(np.std(base_stats['rectal temperature'], ddof=1))
print(base_stats['rectal temperature'].value_counts().head(5))

38.0
38.16791666666669
38.2
0.7322886641121578
38.0    26
38.5    19
38.3    18
37.8    17
38.2    16
Name: rectal temperature, dtype: int64

In [32]:
# rectal temperature выбросы
'''
    Используя межквартильный размах нашли выбросы в rectal temperature. 
    Исходя из описания данных средняя температура: 37.8
    При помощи len определили общее количество выбросов: 74
    value_counts дает представление о наиболее частых выбросах: 40.3 градуса верхний диапазон и 36.5 градусов нижний
    Метод unique также дает понять, что в выбросах имеются пустые NaN значения
'''
iqr1 = base_stats['rectal temperature'].quantile(0.75) - base_stats['rectal temperature'].quantile(0.25)
low1 = base_stats['rectal temperature'].quantile(0.25) - (1.5 * iqr1)
upp1 = base_stats['rectal temperature'].quantile(0.75) + (1.5 * iqr1)
rem_out1 = base_stats[~base_stats['rectal temperature'].between(low1, upp1, inclusive=True)]
print(len(rem_out1['rectal temperature']))
print(rem_out1['rectal temperature'].value_counts())
print(rem_out1['rectal temperature'].unique())

74
40.3    2
36.5    2
39.9    1
35.4    1
39.7    1
36.4    1
39.6    1
36.0    1
36.1    1
36.6    1
40.8    1
40.0    1
Name: rectal temperature, dtype: int64
[ nan 39.9 35.4 40.3 39.7 36.4 39.6 36.5 36.  36.1 36.6 40.8 40. ]

C:\Users\voron\AppData\Local\Temp/ipykernel_23356/2204965957.py:12: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out1 = base_stats[~base_stats['rectal temperature'].between(low1, upp1, inclusive=True)]

In [33]:
# pulse
'''
    Для параметра pulse рассчитана мода, среднеарифметическое, медиана, стандартное отклонение и дополнительно
    испольован метод value_counts (распределение по категориям). Мода, среднеарифметическое и медиана лежат разрозненно. 
    Учитывая тип данных - количественные непрырвные, среднеквадритческое отклонение 28 ударов, 
    самые частые вхождения: 48, 60, 40 и описания данных (средний пульс 30-40)
    Для дальнейших преобразований основной показатель медиана.
'''
print(base_stats['pulse'].mode()[0])
print(base_stats['pulse'].mean())
print(base_stats['pulse'].median())
print(np.std(base_stats['pulse'], ddof=1))
print(base_stats['pulse'].value_counts().head(5))

48.0
71.91304347826087
64.0
28.630556660735003
48.0    28
60.0    25
40.0    18
52.0    12
88.0    12
Name: pulse, dtype: int64

In [34]:
# pulse выбросы
'''
    Используя межквартильный размах нашли выбросы в pulse. 
    Исходя из описания данных средний пульс 30-40 и для тренированных особей 20-25
    При помощи len определили общее количество выбросов: 29
    value_counts дает представление о наиболее частых выбросах 150 ударов и самом высоком показателе 184 удара
    Метод unique также дает понять, что в выбросах имеются пустые NaN значения
'''
iqr2 = base_stats['pulse'].quantile(0.75) - base_stats['pulse'].quantile(0.25)
low2 = base_stats['pulse'].quantile(0.25) - (1.5 * iqr2)
upp2 = base_stats['pulse'].quantile(0.75) + (1.5 * iqr2)
rem_out2 = base_stats[~base_stats['pulse'].between(low2, upp2, inclusive=True)]
print(len(rem_out2['pulse']))
print(rem_out2['pulse'].value_counts())
print(rem_out2['pulse'].unique())

29
150.0    2
164.0    1
160.0    1
184.0    1
Name: pulse, dtype: int64
[164.  nan 150. 160. 184.]

C:\Users\voron\AppData\Local\Temp/ipykernel_23356/2468473740.py:12: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out2 = base_stats[~base_stats['pulse'].between(low2, upp2, inclusive=True)]

In [35]:
# respiratory rate
'''
    Для параметра respiratory rate рассчитана мода, среднеарифметическое, медиана, стандартное отклонение и дополнительно
    испольован метод value_counts (распределение по категориям). Мода, среднеарифметическое и медиана лежат разрозненно. 
    Учитывая тип данных - количественные непрырвные, среднеквадритческое отклонение 17 вдохов,
    самые частые вхождения: 20, 24, 16 и описания данных (средее кол-во вдохов 8-10)
    Для дальнейших преобразований основной показатель медиана.
'''
print(base_stats['respiratory rate'].mode()[0])
print(base_stats['respiratory rate'].mean())
print(base_stats['respiratory rate'].median())
print(np.std(base_stats['respiratory rate'], ddof=1))
print(base_stats['respiratory rate'].value_counts().head(5))

20.0
30.417355371900825
24.5
17.642231385134664
20.0    28
24.0    27
16.0    22
12.0    19
30.0    19
Name: respiratory rate, dtype: int64

In [36]:
# respiratory rate выбросы
'''
    Используя межквартильный размах нашли выбросы в respiratory rate. 
    Исходя из описания данных среднее кол-во вдохов 8-10
    При помощи len определили общее количество выбросов: 75
    value_counts дает представление о наиболее частых выбросах: 80 и 68 вдохов. Наиболее высокое значение 96
    Метод unique также дает понять, что в выбросах имеются пустые NaN значения
'''
iqr3 = base_stats['respiratory rate'].quantile(0.75) - base_stats['respiratory rate'].quantile(0.25)
low3 = base_stats['respiratory rate'].quantile(0.25) - (1.5 * iqr3)
upp3 = base_stats['respiratory rate'].quantile(0.75) + (1.5 * iqr3)
rem_out3 = base_stats[~base_stats['respiratory rate'].between(low3, upp3, inclusive=True)]
print(len(rem_out3['respiratory rate']))
print(rem_out3['respiratory rate'].value_counts())
print(rem_out3['respiratory rate'].unique())

75
80.0    3
68.0    3
84.0    2
96.0    2
90.0    2
70.0    2
72.0    1
66.0    1
88.0    1
Name: respiratory rate, dtype: int64
[84. nan 96. 72. 80. 68. 66. 90. 70. 88.]

C:\Users\voron\AppData\Local\Temp/ipykernel_23356/349806436.py:12: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  rem_out3 = base_stats[~base_stats['respiratory rate'].between(low3, upp3, inclusive=True)]

In [37]:
# temperature of extremities
'''
    Для параметра temperature of extremities рассчитана мода, как основной статистический метод для категориальных данных
    Методом unique мы обнаружили все уникальные вхождения данных в столбце. Исходя из описания данных, 
    включены знанчения 1, 2, 3, 4. Мы видим, что выбросы в данной категории отсутствют (за исключением NaN).
    А также методом value_counts (распределение по категориям) получили общее количество "заполненных" вхождений в данных
    Модальное значение 3, вхождений 109
'''
print(base_stats['temperature of extremities'].mode()[0])
print(base_stats['temperature of extremities'].unique())
print(base_stats['temperature of extremities'].value_counts())

3.0
[ 3. nan  1.  4.  2.]
3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

In [38]:
# pain
'''
    Для параметра pain рассчитана мода, как основной статистический метод для категориальных данных
    Методом unique мы обнаружили все уникальные вхождения данных в столбце. Исходя из описания данных, 
    включены знанчения 1, 2, 3, 4, 5. Мы видим, что выбросы в данной категории отсутствют (за исключением NaN).
    А также методом value_counts (распределение по категориям) получили общее количество "заполненных" вхождений в данных
    Модальное значение 3, вхождений 67
'''
print(base_stats['pain'].mode()[0])
print(base_stats['pain'].unique())
print(base_stats['pain'].value_counts())

3.0
[ 5.  3.  2. nan  4.  1.]
3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64

In [39]:
# outcome
'''
    Для параметра outcome рассчитана мода, как основной статистический метод для категориальных данных
    Методом unique мы обнаружили все уникальные вхождения данных в столбце. Исходя из описания данных, 
    включены знанчения 1, 2, 3. Мы видим, что выбросы в данной категории отсутствют (за исключением NaN).
    А также методом value_counts (распределение по категориям) получили общее количество "заполненных" вхождений в данных
    Модальное значение 1, вхождений 178
'''
print(base_stats['outcome'].mode()[0])
print(base_stats['outcome'].unique())
print(base_stats['outcome'].value_counts())

1.0
[ 2.  3.  1. nan]
1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [54]:
df.isna().mean() * len(df)

surgery?                       1.0
Age                            0.0
rectal temperature            60.0
pulse                         24.0
respiratory rate              58.0
temperature of extremities    56.0
pain                          55.0
outcome                        1.0
dtype: float64

In [55]:
new_df = df.copy(deep=True)

In [56]:
'''
Замена модой, пропуск один, поиск доп. закономерностей на мой взгляд излешне
'''
new_df['surgery?'] = new_df['surgery?'].fillna(new_df['surgery?'].mode()[0])

In [57]:
# Age пропуски отсутствуют

In [58]:
'''
Замена медианой без группировок. Возможно изменение из-за шока с скроым восстановлением.
При группировке с другими показателями не выявлено улучшения данных.
'''
new_df['rectal temperature'] = new_df['rectal temperature'].fillna(new_df['rectal temperature'].median())

In [59]:
'''
Замена медианой без группировок. Возможно изменение из-за шока с скорым восстановлением в меньшую сторону, 
также бывают лошади с спортивным сердцем, из-за этого удары также снижены. 
При группировке с другими показателями не выявлено улучшения данных.
'''
new_df['pulse'] = new_df['pulse'].fillna(new_df['pulse'].median())

In [60]:
'''
описание - полезность сомнительна из-за больших колебаний. Замечена закономерность с частотой дыхания.
Заполнение пропусков медианным значением частоты дыхания от пульса.
'''
new_df['respiratory rate'] = new_df['respiratory rate'].fillna(new_df.groupby('pulse')['respiratory rate'].transform('median'))

In [70]:
'''
описание - горячие конечности должны коррелировать с повышенной ректальной температурой. 
Заполнение пропусков loc, с диапазонами температуры и указания значения 1,2,3 или 4 (нормальная золоданая и т.д.)
с учетом описания данных.
'''
new_df.loc[(new_df['rectal temperature'] > 39) & (new_df['temperature of extremities'].isna()), 'temperature of extremities'] = 2
new_df.loc[(new_df['rectal temperature'] > 37) & (new_df['rectal temperature'] < 39) & (new_df['temperature of extremities'].isna()), 'temperature of extremities'] = 1
new_df.loc[(new_df['rectal temperature'] > 36) & (new_df['rectal temperature'] < 37) & (new_df['temperature of extremities'].isna()), 'temperature of extremities'] = 3
new_df.loc[(new_df['rectal temperature'] < 36) & (new_df['temperature of extremities'].isna()), 'temperature of extremities'] = 4

# new_df['temperature of extremities'] = new_df['temperature of extremities'].fillna(new_df.groupby('rectal temperature')['temperature of extremities'].transform(lambda x: x.mode()[0]))
# закоменченный вариант не работает, поясните почему, не смог понять

In [71]:
'''
описание - чем больнее, тем больше вероятность, что потребуется операция, но это несоверешенно действие (операция),
Испольтзовал с исходом лошади.
Заполнение пропусков модальным значением группировка боли и операции.
'''
new_df['pain'] = new_df['pain'].fillna(new_df.groupby('outcome')['pain'].transform(lambda x: x.mode()[0]))

In [72]:
'''
Замена модой, пропуск один, поиск доп. закономерностей на мой взгляд излешне
'''
new_df['outcome'] = new_df['outcome'].fillna(new_df['outcome'].mode()[0])

In [73]:
new_df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,2.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.2,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,1.0,2.0,3.0

In [74]:
new_df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,297.000000,298.000000,300.000000,300.000000
mean,1.396667,1.640000,38.174333,71.280000,30.122896,2.124161,3.010000,1.550000
std,0.490023,2.173972,0.654831,27.541545,16.216521,1.070583,1.260368,0.736642
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,26.000000,2.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000